html {
        width: 800px;
	margin: 30px;
}

body{
        position: relative;
        left: 50%; 
}

#name{
	margin: 0px;
	height: 30px;
	width: 700px;
}

#comment{
	margin: -15px -14.5px 0px 0px;
	height: 112px;
	width: 700px;
}

.comment_disp{
	width: 700px;
	height: 100px;
	border: solid 1px;
}

.comment_date{
	text-align: right;
	margin-top: -25px;
}

.name_disp{
	width: 700px;
	font-size: 1.2em;
	font-family: Comic Sans MS;
	font-weight: bolder;
}

.wrap_disp {
	margin-top: 50px;
}
